body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.right img {
    width: 45px;
    border-radius: 50%;
}

.savedContacts {
    background-color: goldenrod;
    color: black;
}

.header img {
    float: left;
    width: 40px;
    height: 40px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

.header p{
    position: right;
}